.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}